<!DOCTYPE html>
<html ng-app="sudokuApp">
<head>
	<title>Sudoku</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
</head>
 
<body>
<div ng-controller="mainCtrl">
    <div class="board">
        <div class="box" ng-repeat="box in uiState.problem">
            <div class="cell"
                 ng-repeat="cell in box track by $index"
                 ng-click="setActiveCell([$parent.$index, $index])">
                        <span>
                            <input ng-class="{wrong_answer: highlightError([$parent.$index, $index])}"
                                   ng-disabled="cellIsLocked([$parent.$index, $index])"
                                   class="cell_input" type="text" ng-model="cell" ng-change="setCellValue(cell)">
                        </span>
            </div>
        </div>
    </div>
    <input type="checkbox" ng-model="uiState.highlightErrors">Highlight wrong answers
    <button ng-click="helpPlayerOut()">I need a little help!</button>
</div>
</body>
 
</html>