body {
    font-family: 'Cedarville Cursive', sans-serif;
    background-image: url("images/damask.jpg");
    max-width: 475px;
    margin: 10px auto;
}

#mast {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    margin-bottom: -3px;
}

#menu {
    display: none;
}

#results_overlay {
    display: none;
}

#highlight_cancel_option {
    display: none;
}

/* simple modal */

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("images/CBCBCB-0.9.png");
}

.alert {
    margin-top: 15%;
    font-size: 50px;
    font-size: 15vw;
    color: #c5277d;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
}

/* responsive spacing */

.square_spacer {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
}

.image_container {
    position: relative;
    top: 0px;
}

.cell_container {
    width: 31%;
    margin: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    display: inline-block;
    position: relative;
    background-color: white;
}

#board {
    display: none;
    width: 100%;
    min-width: 259px;
    margin-left: 3px;
    display: inline-block;
}

.box {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: -1px;
}

/* cell input */

.input_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.cell_input {
    width: 98%;
    height: 98%;
    border: none;
    z-index: 10;
    text-align: center;
    background-color: transparent;
    display: none;
    font-size: 28.89px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.wrong_answer {
    background-color: #c5277d;
}

/* menu */

.button {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #FFF;
    border: 4px solid #c5277d;
    border-radius: 10px;
    padding: 0px 10px 3px 10px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}

.button.medium {
    max-width: 120px;
    margin: auto;
}

.button:hover {
    border: 4px solid #fc74bd;
    background-color: #FFF;
}

#mistake_highlighter {
    float: left;
    width: 55%;
}

#player_helper {
    float: right;
    width: 28%;
}

@media (max-width:430px) {

    #mast {
        display: none;
    }

    body {
        margin: 0px auto;
    }

    #mistake_highlighter {
        float: none;
        display: block;
        width: 92%;
        margin-left: 2px;
    }

    #player_helper {
        float: none;
        display: block;
        width: 92%;
        margin-left: 2px;
    }

}

