body {
    font-family: Helvetica, sans-serif;
}

/* board */

.board {
    width: 350px;
}

.box {
    border: 2px solid black;
    border-collapse: collapse !important;
    vertical-align: top;
    display: inline-block;
    width: 111px;
    height: 111px;
}

.cell {
    padding: 0px;
    text-align: center;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
}

.cell_input {
    border: none;
    height: 33px;
    width: 33px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.wrong_answer {
    background-color: red;
}

/* menu */